<h1>{f:translate(key: 'collect.headline')}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{translations -> f:count()} {f:translate(key: 'collect.table.entries')}</th>
            <f:for each="{locales}" as="locale">
                <th>{locale}</th>
            </f:for>
        </tr>
    </thead>
    <tbody>
        <f:for each="{translations}" as="entry" key="key">
            <tr class="{f:if(condition: '{entry.used}', else: 'bg-warning')}">
                <th>{key}</th>
                <f:for each="{locales}" as="locale">
                    <td class="{f:if(condition: '{entry.translations.{locale}}', else: 'table-danger bg-danger')}">{entry.translations.{locale}}</td>
                </f:for>
            </tr>
        </f:for>
    </tbody>
</table>
